<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-full h-full bg-zinc-800 p-10 text-white ">
            <a class="text-xl block text-blue-500 mb-10" href="/read">Read
                Users</a>
            <h1 class="mb-3 tracking-tighter text-3xl">Create User</h1>
            <form action="/create" method="post">
                <input class="px-5 py-2 bg-transparent bg-zinc-500 rounded-lg"
                    type="text"
                    placeholder="name" name="name">
                <input class="px-5 py-2 bg-transparent bg-zinc-500 rounded-lg"
                    type="text"
                    placeholder="email" name="email">
                <input class="px-5 py-2 bg-transparent bg-zinc-500 rounded-lg"
                    type="text"
                    placeholder="image url" name="image">
                <input class="px-5 py-2 bg-blue-500 rounded-lg ml-2"
                    type="submit">
            </form>
        </div>
    </body>
</html>